.hero {
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.image{
  /*  width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow-x:hidden; */ 
width: 100%; 
overflow-x: hidden; 
} 


.hero .content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

@media screen and (max-width: 890px) {

    .image{
          
        height: 100%; 
        width: 100%; 
        overflow-x: hidden; 
        }  
    }


    @media screen and (max-width: 670px) {

    .image{
          
      height: 700px; 
        width:620px; 
        overflow-x: hidden; 
     }  
    }



    @media screen and (max-width: 620px) {

        .image{
              
          height: 600px; 
            width:600px; 
            overflow-x: hidden; 
          
         }  

     }



     @media screen and (max-width: 510px) {

        .image{
              
          height: 590px; 
            width: 500px; 
            overflow-x: hidden; 
         }  

     }
    




 
     /*iphone SE*/ 


     @media screen and (max-width: 375px) {

        .image{
              
          height: 590px; 
            width: 375px; 
            overflow-x: hidden; 
         }  

     }
          /*iphone XR*/ 

     @media screen and (max-width: 414px) {

        .image{
              
          height: 500px; 
            width: 414px; 
            overflow-x: hidden; 
         }  

     }


     /*iphone 12 pro*/ 
    
    
     @media screen and (max-width: 390px) {

        .image{
              
          height: 470px; 
            width: 390px; 
            overflow-x: hidden; 
         }  

     }

    


