
.body{
    overflow-x: hidden; 
}


.hero {
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.overlay {

    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


 .image{
   /* width: 100%;
    height: 100vh;
    z-index: -1;
    overflow:hidden;
overflow: hidden;
margin:auto;
object-fit: cover;
object-position: top center;*/ 

width: 100%; 
overflow-x: hidden; 
} 


/*.hero .content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}*/ 


/*
@media screen and (max-width: 650px) {

.image{
    height: 630px; 
    width: 645px;
    overflow-x: hidden;
    object-fit: cover;

}


}

@media screen and (max-width: 610px) {

    .image{
        height: 600px; 
        width: 620px;
        overflow-x: hidden;
        object-fit: cover;
    
    }
    
    
}


@media screen and (max-width: 590px) {

    .image{
        height: 600px; 
        width: 595px;
        overflow-x: hidden;
        object-fit: cover;
    
    }
    
    
}

@media screen and (max-width: 570px) {

    .image{
        height: 600px; 
        width: 565px;
        overflow-x: hidden;
        object-fit: cover;
    
    }
    
    
}

@media screen and (max-width: 555px) {

    .image{
        height: 600px; 
        width: 545px;
        overflow-x: hidden;
        object-fit: cover;
    
    }
    
    
}

@media screen and (max-width: 540px) {

    .image{
        height: 590px; 
        width: 545px;
        overflow-x: hidden;
        
    
    }
    
    
}

@media screen and (max-width: 535px) {

    .image{
        height: 490px; 
        width: 535px;
        z-index: -1;
        overflow-x:hidden;

    object-fit: cover;
    object-position: top center;

    } 
        
    
}

@media screen and (max-width: 525px) {

    .image{
        height: 490px; 
        width: 519px;
        z-index: -1;
        overflow-x:hidden;
        object-fit: cover;
        object-position: top center;

    } 
        
    
    }
    @media screen and (max-width: 515px) {

        .image{
            height: 490px; 
            width: 530px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     }

     @media screen and (max-width: 505px) {

        .image{
            height: 490px; 
            width: 520px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     }


     @media screen and (max-width: 505px) {

        .image{
            height: 490px; 
            width: 520px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     }


@media screen and (max-width: 500px) {

    .image{
        height: 485px; 
        width: 449px;
        z-index: -1;
        overflow-x:hidden;

    object-fit: cover;
    object-position: top center;

    } 
        
    
    }
    
    @media screen and (max-width: 499px) {

        .image{
            height: 490px; 
            width: 495px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     }


     @media screen and (max-width: 480px) {

        .image{
            height: 480px; 
            width: 480px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     }



     @media screen and (max-width: 470px) {

        .image{
            height: 480px; 
            width: 465px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     }

     @media screen and (max-width: 460px) {

        .image{
            height: 480px; 
            width: 458px;
            z-index: -1;
            overflow-x:hidden;
            object-fit: cover;
            object-position: top center;
    
        }  
     } */ 


     @media screen and (max-width: 890px) {

    .image{
          
        height: 100%; 
        width: 100%; 
        overflow-x: hidden; 
        }  
    }


    @media screen and (max-width: 670px) {

    .image{
          
      height: 700px; 
        width:620px; 
        overflow-x: hidden; 
     }  
    }



    @media screen and (max-width: 620px) {

        .image{
              
          height: 600px; 
            width:600px; 
            overflow-x: hidden; 
          
         }  

     }



     @media screen and (max-width: 510px) {

        .image{
              
          height: 590px; 
            width: 510px; 
            overflow-x: hidden; 
         }  

     }



     
     /*iphone SE*/ 


     @media screen and (max-width: 375px) {

        .image{
              
          height: 590px; 
            width: 375px; 
            overflow-x: hidden; 
         }  

     }
          /*iphone XR*/ 

     @media screen and (max-width: 414px) {

        .image{
              
          height: 500px; 
            width: 414px; 
            overflow-x: hidden; 
         }  

     }


     /*iphone 12 pro*/ 
    
    
     @media screen and (max-width: 390px) {

        .image{
              
          height: 470px; 
            width: 390px; 
            overflow-x: hidden; 
         }  

     }

    

